In [4]:
import pandas as pd
import seaborn as sns

In [5]:
# Load the dataset
from data import load_data_viz_data
data = load_data_viz_data()

In [6]:
data

,INCIDENT_NUMBER,OFFENSE_CODE_GROUP,SHOOTING,OCCURRED_ON_DATE,LAT,LONG,NAME,LAT_POLICE_STATION,LONG_POLICE_STATION
0,I192068249,Other,0,2015-08-28 10:20:00,42.330119,-71.084251,Roxbury,42.328894,-71.085359
1,I182074094,Violence and harassment,0,2015-09-14 09:31:00,42.315142,-71.067047,Roxbury,42.328894,-71.085359
2,I182054888,Violence and harassment,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359
3,I182054888,Other,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359
4,I182054888,Other,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359
...,...,...,...,...,...,...,...,...,...
237216,I172049757,Police investigation procedure,0,2018-08-09 18:00:00,42.355216,-71.060129,Charlestown,42.361800,-71.060300
237217,I172049757,Drugs and disorderly conduct,0,2018-08-09 18:00:00,42.355216,-71.060129,Charlestown,42.361800,-71.060300
237218,I172027369,Other,0,2018-12-12 05:00:00,42.376852,-71.068873,Charlestown,42.361800,-71.060300
237219,I172027369,Police investigation procedure,0,2018-12-12 05:00:00,42.376852,-71.068873,Charlestown,42.361800,-71.060300
237220,I172027369,Violence and harassment,0,2018-12-12 05:00:00,42.376852,-71.068873,Charlestown,42.361800,-71.060300

In [27]:
data['OCCURRED_ON_DATE'].sort_values()

43282    2015-06-15 00:00:00
145652   2015-06-15 00:00:00
74932    2015-06-15 00:00:00
185670   2015-06-15 00:00:00
38887    2015-06-15 00:00:00
                 ...
180232   2018-12-31 23:15:00
214825   2018-12-31 23:20:00
200583   2018-12-31 23:30:00
133540   2018-12-31 23:41:00
28440    2018-12-31 23:45:00
Name: OCCURRED_ON_DATE, Length: 237221, dtype: datetime64[ns]

In [26]:
data['OCCURRED_ON_DATE'] = pd.to_datetime(data['OCCURRED_ON_DATE'])

In [17]:
pd.to_datetime(data['OCCURED_ON_DATE'], format='%Y%m%d',errors='coerce')

KeyError: 'OCCURED_ON_DATE'

In [9]:
df_most_common = pd.pivot_table(data=data,
                                values='INCIDENT_NUMBER',
                                index=['NAME'],
                                columns=['OFFENSE_CODE_GROUP'],
                                aggfunc='count')
df_most_common.columns.name = None
df_most_common

,Disputes,Drugs and disorderly conduct,Fraud and law violations,Larceny and vandalism,Other,Police investigation procedure,Violence and harassment
NAME,,,,,,,
Brighton,563,809,1807,5274,925,2783,1627
Charlestown,200,416,428,1671,338,1162,550
Dorchester,3066,2587,3705,9230,2792,7428,4067
Downtown,254,2510,3245,9256,2034,5464,3497
East Boston,597,995,1055,2911,883,1941,1309
Hyde Park,1147,853,1395,3517,1082,2998,1559
Jamaica Plain,619,1136,1358,4546,1096,2614,1433
Mattapan,3573,1897,2971,6598,2381,7001,3910
Roxbury,3450,3040,4820,10471,3571,8030,5495
South Boston,596,1867,1654,5637,1327,3523,2013
South End,759,2191,3195,14012,2090,5540,3471
West Roxbury,597,721,1168,2915,880,2036,1089

In [10]:
df_most_common["sum"] = df_most_common.sum(axis=1)

In [11]:
df_most_common

,Disputes,Drugs and disorderly conduct,Fraud and law violations,Larceny and vandalism,Other,Police investigation procedure,Violence and harassment,sum
NAME,,,,,,,,
Brighton,563,809,1807,5274,925,2783,1627,13788
Charlestown,200,416,428,1671,338,1162,550,4765
Dorchester,3066,2587,3705,9230,2792,7428,4067,32875
Downtown,254,2510,3245,9256,2034,5464,3497,26260
East Boston,597,995,1055,2911,883,1941,1309,9691
Hyde Park,1147,853,1395,3517,1082,2998,1559,12551
Jamaica Plain,619,1136,1358,4546,1096,2614,1433,12802
Mattapan,3573,1897,2971,6598,2381,7001,3910,28331
Roxbury,3450,3040,4820,10471,3571,8030,5495,38877
South Boston,596,1867,1654,5637,1327,3523,2013,16617
South End,759,2191,3195,14012,2090,5540,3471,31258
West Roxbury,597,721,1168,2915,880,2036,1089,9406

In [ ]:
df_most_common